@maincolor :#006699;
*{
  margin: 0;
  padding: 0;
}
#header {
  background-color: @maincolor;
  height: 45px;
  >h4{
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-weight: normal;
  }
  a{
    color: #fff;
  }
}